body {

    margin: 0;

}

#screen {

    position: relative;
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
    background-image: url(Produktion/SVG/forstescene.svg);
    background-size: 100%;


}


#start {

    position: absolute;
    width: 100vw;
    height: 56.35vw;
    background-image: url(Produktion/titelsk%C3%A6rm.svg);
    background-size: 100%;
    background-color: rgb(240, 248, 255, 0.75);

}


#play {

    position: absolute;
    background-image: url(Produktion/play%20knap.svg);
    background-size: 100%;
    width: 30vw;
    height: 60vw;
    background-repeat: no-repeat;

    left: 36vw;
    top: 15vw;

    cursor: pointer;

}




#skab {

    position: absolute;
    width: 18vw;
    height: 27vw;

    top: 18vw;
    left: 76vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(Produktion/skab%20til%20scene.svg);
    z-index: 2;
    transform: scale(1.4)
}

#gulv {

    position: absolute;
    width: 121vw;
    height: 192vw;

    top: 90vw;
    background-repeat: no-repeat;
    background-size: 90%;
    background-image: url(Produktion/gulv1.svg);
    transform: scale(1.4);
    background-repeat: no-repeat;
    z-index: 6;


}

#gulv2 {

    position: absolute;
    width: 115vw;
    height: 192vw;

    top: 84vw;
    background-repeat: 90%;
    background-size: 90%;
    background-image: url(Produktion/gulv2.svg);
    transform: scale(1.4);
    background-repeat: no-repeat;
    z-index: 4;


}

#gulv3 {

    position: absolute;
    width: 113vw;
    height: 19vw;


    background-size: 100%;
    left: 50vw;
    top: 60vw;
    background-image: url(Produktion/gulv3.svg);
    transform: scale(2);
    background-repeat: no-repeat;
    z-index: 5;

}

#tonder {

    position: absolute;
    width: 13vw;
    height: 12vw;

    top: 37vw;
    left: 40vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(Produktion/t%C3%B8nder%20til%20scene.svg);
    z-index: 2;
    transform: scale(1.4)
}

#hund {

    position: absolute;
    width: 6vw;
    height: 9vw;

    top: 48vw;
    left: 46vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(Produktion/hund%20scene.svg);
    z-index: 5;

}

/* hundeeffekt

    animation-name: pulse_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 45% 70%;
    animation-direction: alternate;
transform: scale(1.4)

*/



#hund2 {

    position: absolute;
    width: 6vw;
    height: 9vw;

    top: 47vw;
    left: 76vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(Produktion/hund%20scene.svg);
    z-index: 2;
    transform: scale(1.4);
    z-index: 4;

}

/*hundeeffekt hund2_opned {

    animation-name: pulse_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 45% 70%;
    animation-direction: alternate;
}

*/



#mus {

    position: absolute;
    width: 6vw;
    height: 9vw;

    top: 48vw;
    left: 60vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(Produktion/mus%20scene.svg);
    z-index: 5;


}


/*.musse effekt opned {

    animation-name: pulse_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 45% 70%;
    animation-direction: alternate;
transform: scale(1.4);

*/

}

#mus2 {

    position: absolute;
    width: 6vw;
    height: 9vw;

    top: 48vw;
    left: 20vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(Produktion/mus%20scene.svg);
    z-index: 5;

}












/*musseeffekt 2 {

    animation-name: pulse_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 45% 70%;
    animation-direction: alternate;
 transform: scale(1.4);
*/

}


#timer {

    position: absolute;
    width: 5vw;
    height: 6vw;

    top: 8vw;
    left: 2vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(Produktion/tid%20scene.svg);
    z-index: 1;
    transform: scale(1.4);


}

#liv {

    position: absolute;
    width: 5vw;
    height: 6vw;

    top: 18vw;
    left: 2vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(Produktion/liv%20scene.svg);
    z-index: 1;
    transform: scale(1.4);


}

#liv2 {

    position: absolute;
    width: 5vw;
    height: 6vw;

    top: 28vw;
    left: 2vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(Produktion/liv%20scene.svg);
    z-index: 1;
    transform: scale(1.4);


}

#liv3 {

    position: absolute;
    width: 5vw;
    height: 6vw;

    top: 38vw;
    left: 2vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(Produktion/liv%20scene.svg);
    z-index: 1;
    transform: scale(1.4);


}

/*effekter*/

.pulsknap {

    animation-name: pulseknap_kf;

    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-timing-function: linear;
    transform-origin: 45% 70%;


}

@keyframes pulseknap_kf {

    0% {
        transform: scale(1)
    }

    100% {

        transform: scale(1.01)
    }

}

.pulseanimal {

    animation-name: pulse_kf;

    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-timing-function: linear;
    transform-origin: 45% 70%;


}

@keyframes pulse_kf {

    0% {
        transform: scale(0)
    }

    100% {

        transform: scale(2)
    }

}

.hide {

    visibility: hidden;

}

.show {

    visibility: visible;


}

.blur {

    filter: blur(5px) brightness(80%);


}

.fade_out {

    animation-name: fadeout_kf;
    animation-duration: 5;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fadeout_kf {

    0% {
        opacity: 1;

    }

    100% {

        opacity: 0;

    }

}

.pause {

    animation-duration: pause_kf;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes pause_kf {

    0% {}

    100% {}

}
